* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner-container {
  position: relative;
  background-image: url("../public/Rectangle.png");
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  align-items: flex-end;
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.banner-title {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.banner-heading {
  color: white;
  font-size: 1.5rem;
}

.form-label {
  padding-top: 20px;
}

.form-control {
  padding: 20px;
  font-size: 1rem !important;
}

a {
  padding: 10px;
  text-decoration: none !important;
  display: block;
}

.active {
  color: #27a365;
}

a.active {
  border-bottom: 2px solid #000;
}

.custom-hover-bg {
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-hover-bg:hover {
  background-color: #e7e7e7;
}

.comment-bg {
  background-color: gray;
  padding: 10px;
  border-radius: 10px;
}

.dropdown-toggle::after {
  display: none;
}

.post-cart-container {
  background-color: rgb(230, 230, 230);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
}

.form-button {
  width: 500px;
  text-align: left;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  color: #a5a7ab;
  background-color: #f0f2f5;
  cursor: pointer;
  display: block;
}

.form-button-tow {
  width: 140px;
  padding-top: 10px;
  cursor: pointer;
  border-radius: 50px;
  border: none;
}
.form-button-tow:hover {
  background-color: #f0f2f5;
}

.post-modal-icon {
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.post-modal-icon:hover {
  background-color: rgb(231, 231, 231);
}
